<menu>
    <Firewall>
        <IndustrialWhitelist VisibleName="Industrial Whitelist" cssClass="fa fa-industry fa-fw">
            <Configuration VisibleName="配置" url="/ui/industrialwhitelist"/>
            <Logs VisibleName="日志" url="/ui/industrialwhitelist/logs"/>
        </IndustrialWhitelist>
    </Firewall>
</menu>
