<menu>
    <Services>
        <AppIdentification order="500" description="Application Identification" cssclass="fa fa-bar-chart">
            <Settings order="10" description="Settings" url="/ui/appidentification/" />
            <ActiveFlows order="20" description="Active Flows" url="/ui/appidentification/flows/" />
            <Applications order="30" description="Applications" url="/ui/appidentification/applications/" />
        </AppIdentification>
    </Services>
</menu>
