{% if helpers.exists('OPNsense.ndpiaudit.general.enabled') and OPNsense.ndpiaudit.general.enabled == '1' %}
{% from 'OPNsense/Macros/interface.macro' import physical_interface %}
{% set mirror_if = 'lo1' %}
{% if helpers.exists('OPNsense.ndpiaudit.general.mirror_interface') and OPNsense.ndpiaudit.general.mirror_interface != '' %}
{% set mirror_if = OPNsense.ndpiaudit.general.mirror_interface %}
{% endif %}
{% set mirror_direction = 'both' %}
{% if helpers.exists('OPNsense.ndpiaudit.general.mirror_direction') and OPNsense.ndpiaudit.general.mirror_direction != '' %}
{% set mirror_direction = OPNsense.ndpiaudit.general.mirror_direction %}
{% endif %}
{% if helpers.exists('OPNsense.ndpiaudit.general.interfaces') and OPNsense.ndpiaudit.general.interfaces != '' %}
{% for iface in OPNsense.ndpiaudit.general.interfaces.split(',') %}
{% if mirror_direction == 'in' or mirror_direction == 'both' %}
match in on {{ physical_interface(iface) }} all dup-to {{ mirror_if }}
{% endif %}
{% if mirror_direction == 'out' or mirror_direction == 'both' %}
match out on {{ physical_interface(iface) }} all dup-to {{ mirror_if }}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}
